<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Study Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="timer-container">
        <h1>My Study Session</h1>
        <div id="timer">0:00:00</div>
        <button onclick="startTimer()">Start</button>
        <button onclick="stopTimer()">Stop</button>
        <button onclick="resetTimer()">Reset</button>
    </div>

    <div class="toggle-btn">
        <span class="switch"></span>
        <span class="focused">Focused</span> 
        <span class="unfocused">Unfocused</span>
    </div>
    <div class="graph-container">
        <canvas id="sessionBarGraph"></canvas>
    </div>
    
    <!-- jQuery CDN Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Custom js -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    
    
   
</body>
</html>

