* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;

    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    overflow-y: scroll; /* Enable scrolling if content overflows */
    height: 100vh; /* Allow content to define height */
}

.timer-container {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #007acc;
}

#timer {
    font-size: 2rem;
    margin: 20px 0;
    padding: 10px 20px;
    border: 2px solid #007acc;
    border-radius: 5px;
    background-color: #e6f7ff;
    color: #007acc;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #007acc;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f99;
    transition: 0.5s;
}

button:active {
    background-color: #004f80;
}

.toggle-btn {
    position: relative;
    width: 300px;
    height: 120px;
    padding: 10px;
    border-radius: 100px;
    background-color: #71b7d3;
    background-size: cover;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    margin: 20px 0; /* Add spacing between elements */
}

.toggle-btn .switch {
    display: block;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25),
        inset 5px 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: pointer;
}

.toggle-btn .focused {
    color: #f0f4f8;
    font-size: 30px;
    position: absolute;
    bottom: 55px;
    left: 150px;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 1;
}

.toggle-btn .unfocused {
    color: #99d5ed;
    font-size: 30px;
    position: absolute;
    bottom: 25px;
    left: 20px;
    transform: translateY(200%);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 1;
}

.toggle-btn.active {
    background-color: #f0f4f8;
}

.toggle-btn.active .switch {
    transform: translateX(calc(300px - 120px));
}

.toggle-btn.active .unfocused {
    opacity: 1;
    transform: translateY(0);
}

.toggle-btn.active .focused {
    opacity: 0;
    transform: translateY(-200%);
}

.graph-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    height: 400px; /* Set a height for the graph */
    /* background-color: #f0f4f8; */
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;

}
